* {
    max-width: 1400px;
    background-color:  #FFFFFF;
}

html {
    margin: 2rem 100px;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

/*LOGO*/
#header {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

/* SEARCH-BAR*/
#search-bar {
    display: flex;
    align-items: center;
    
}
#search-input {
    height: 69px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background-color: #E7E7E7;
    font-size: 1.2rem;
    position: relative;
    border: #E7E7E7;
}

#search-input::placeholder {
    padding-left: 1rem;
    color: #000000;
    opacity: 0.25;
}

i.search-img {
    position: absolute;
    right: 8rem;
    font-size: 30px;
    background-color: #E7E7E7 ;
    
}
/* TAGS/*/
#tags-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0 0 0;
}

.tag {
    height: 37px;
    width: 107px;
    border-radius: 5px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1rem;
}

.btn-ingredient img, .btn-appareil img, .btn-ustensil img {
    width: 20px;
   
}
.btn-ingredient, .btn-ingredient img {
    background: #3282F7;
}

.btn-appareil, .btn-appareil img {
    background: #68D9A4;
}

.btn-ustensil, .btn-ustensil img {
    background: #ED6454;
}



/* BUTTONS DROPDOWN*/
#dropdown-section {
    margin: 1rem auto;
    display: flex;  
}

.dropbtn {
    height: 69px;
    width: 170px;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-right: 1rem;
    color:#FFFFFF;
    border: none;    
}

.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-ingredients, .ingredients, #myInput-ing {
    background-color: #3282F7;
}

#btn-appareils, .appareils, #myInput-app  {
    background: #68D9A4;
}

#btn-ustensils, .ustensils, #myInput-ust  {
    background: #ED6454;
}

#btn-ingredients, #btn-appareils, #btn-ustensils {
    position: relative;
}
#myInput-ing, #myInput-app, #myInput-ust {
    position: relative;
    top: -100%;
   

}

#myInput-ing::placeholder, #myInput-app::placeholder, #myInput-ust::placeholder {
    padding-left: 1rem;
    color:white;
}
/* CARD */

#list-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
article {
    border: 1px solid black;
    height: 364px;
    width: 380px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin: 1rem 0;
    border:none;
}   

.recipe-img {
    height: 178px;
    width: 380px;
    border-radius: 5px 5px 0px 0px;
    background-color: #C7BEBE;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    

}


.recipe-title {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #E7E7E7;

}
.fa-clock {
    height: 20px;
    width: 20px;
    background-color: #E7E7E7;

}

.recipe-time {
    font-size: 18px;
    line-height: 22px;
    background-color: #E7E7E7;
    
}

.card-header, .recipe-ingr, .recipe-description{
    padding: 0 18px;
    background-color: #E7E7E7;
}

.recipe-ingr {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    width: 50%;
  
}
.recipe-ingr ,ul, li {
    background-color: #E7E7E7;
}
.recipe-description {
    width: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    height: 109px;
    width: 171px;
    overflow: hidden;
    background-color: #E7E7E7;
    


}

.recipe-description-content {
    background-color: #E7E7E7;
    text-overflow: ellipsis;
}
.recipe-content {
    display: flex;

}