/* GENERAL */
:root {
    --lightgrey: #EDEDED;
    --darkgrey:#7A7A7A;
    --yellow: #FFD15B;
    --font1: 'Manrope', sans-serif;
    --font2: 'Anton', sans-serif;
    --fontsize-header: 44px;
    --fontsize-1:16px;
    --fontsize-card-title:18px;
    --fontsize-2:14px;
    --fontsize-3:12px
}

*, html, body {
    max-width: 1400px;
    margin: 0 auto;
}

.hidden {
    display: none;
}


/*LOGO*/
header {
    width: 100%;
    background-image: url("../assets/images/background-home.webp");
    height: 667px;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    margin: 0 auto;
    background-size: 1400px 667px;
}

#logo {
    color: white;
    width: 207px;
    height: 25.26px;
    margin: 50px 69px;
    display: flex;
    flex-direction: row;
}

#cta {
    font-family: var(--font2);
    width: 954px;
    height: 132px;
    position: relative;
    top: 130px;
    margin:0 auto;
}

#cta p {
    width: 100%;
    font-size: var(--fontsize-header);
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    color: var(--yellow);
    text-align: center;
    letter-spacing: -1px;
}

/* SEARCH-BAR*/

#search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    width: 954px;
    height: 72px;
    top: 150px;
    margin: 0 auto;
}

#search-input {
    width: 954px;
    height: 72px;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
    position: relative;  
    border:1px solid black;
}

#search-bar input{
    width: 954px;
    height: 72px;
    border-radius: 5px;
    border:none;
    font-size: 16px;
    padding: 0 70px 0 35px;
    font-family: var(--font1);
    cursor: pointer;  
}

#search-bar input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/assets/images/close_icon-input.svg");
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
}

#search-input::placeholder {
    padding-left: 0rem;
    color: #000000;
    opacity: 0.25;  
}

.search-img {
    position: absolute;
    left: 893px;
    cursor: pointer;
}

.search-img-icon{
    width: 51px;
    height: 52px;
 
}

/* MAIN */ 

main {
    background-color: var(--lightgrey) ;
    padding:0 5rem
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.recipe-total {
    font-size: 21px;
    font-family: var(--font2);
    letter-spacing: -2px;
    font-weight: 700;
    padding-right: 17px;
}

/* DROPDOWN BUTTONS */
#dropdown-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;  
}

.dropbtn {
    width: 195px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    font-size: 1;
    border-radius: 11px;
    border:none;
    font-size: var(--fontsize-1);
}

.dropdown-btn {
    display: flex;
    flex-direction: row;
}

#btn-ingredients,#btn-appareils, #btn-ustensils {
    background-color: white;
}

.drop-ing {
    width: 100%;
    display: flex;
}

.btn {
    width: 195px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    border: none;
    background-color: white;
    padding:1rem;
    font-size: var(--fontsize-1);
    font-family: var(--font1);
    cursor: pointer;

}
.btn-open-list {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: right;
   
}
.btn-open-list > img {
    width: 13px;
    height: 6px;
}

#total-recipes {
    font-family: var(--font2);
    height:56px;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin: 1rem 0;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
}

/* LIST OF TAGS*/
.cont-input {
    position: relative;
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 2px;
    border:  #C6C6C6 1px solid;
    margin: 13px 16px;
    color:#7A7A7A;
    font-size: 14px;
  
}
#myInput-ing {
    height: 36px;
}
.loop-drop{
    width: 13.5px;
    position: absolute;
    right: 0.5rem;
}
.icon-up {
    display: flex;
    width: 100%;
    justify-content: right;
}

#myInput-ing2, #myInput-app2, #myInput-ust2 {
  border: none;

  box-sizing: content-box;
  width: 75%;
 
}

input:focus {
    outline: none;
}

/* LIST OF ING, APP, UST */

.list-ingr , .list-appl, .list-uste {
    font-family: var(--font1);
    width: 195px;
    height: 315px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 11px;
    position: absolute;
    Top: 16px;
    z-index: 10;
    overflow: scroll;
    scroll-behavior: smooth;
}

.list-ing >p, .list-app>p, .list-ust>p {
    text-align: center;
}

.drop-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:17px;
}
.drop-text {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-size: 16px;
}

/* hide scrollbar */
.list-ingr::-webkit-scrollbar, .list-appl::-webkit-scrollbar , .list-uste::-webkit-scrollbar { 
    width: 0 !important 
}

.elt-ing, .elt-app, .elt-ust {
    padding: 13px 16px;
    font-weight:400;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    height: 19px;
    
}

.elt-ing:hover, .elt-app:hover, .elt-ust:hover {
    background-color: var(--yellow);  
}

.elt-app::first-letter, .elt-ust::first-letter, .elt-ing::first-letter  {
    text-transform: capitalize;
}

/* CARD */

#list-recipes {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #ededed ;
    font-family: var(--font1);
}

.card-recipe {
    z-index: 0;
    width: 380px ;
    height: 731px;
    border-radius: 21px;
    margin: 1rem auto;
    border:none;
    cursor: pointer;
    background-color: #fff;   
} 

.recipe-img {
    height: 253px;
    width: 380px;
    border-radius: 21px 21px 0 0;   
}

.recipe-img img {
    height: 253px;
    width: 100%;
    border-radius: 21px 21px 0 0;
    object-fit: cover;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.recipe-title {
    font-family: var(--font1), sans-serif;
    font-weight: 700;
    font-size: var(--fontsize-card-title);
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.recipe-time {
    line-height: 22px;
    position: relative;
    top: -250px;
    left:-30px;
    background-color: var(--yellow);
    border-radius: 14px;
    padding: 0.1rem;
    font-size: var(--fontsize-3);
    width: 3.5rem;
    text-align: center;
  
}

.card-header, .recipe-ingr, .recipe-description{
    padding: 0 18px;
}

.recipe-ingr {
    width: 380px;
    padding:  1rem;
}

.recipe-subtitle {
    width: 100%;
    font-size: var(--fontsize-3);
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-align: left;
    color: var(--darkgrey);
    text-transform: uppercase;
    margin: 1rem 0;
}

.recipe-description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    height: 107px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;  
}

.recipe-description-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-content {
    width: auto;
    height: 107px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 2.2rem;
}

.recipe-ing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  gap:2rem 0;
}

.recipe-ingredient {
    height: 30px;
}

.recipe-ing-name, .recipe-ing-quantity {
    line-height: 18px;
    font-size: var(--fontsize-2);
    text-overflow: ellipsis;
    width: 180px;
    font-weight: 400;
}

.recipe-ing-quantity {
    color:var(--darkgrey)
}

  /* TAGS*/
  #tags-section {
    display: flex;
    justify-content: left;
    width: 203px;

  }
  .tag {
    width: 203px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 11px;
    border: none;
    background-color: #FFD15B;
    padding:1rem ;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    margin-left: 17px;
    margin-bottom: 1rem;
  }

  /* RESPONSIVE */
  @media screen and (min-width:0px) and (max-width:360px ) {
    .search-img {
        display: none;
    } 
    .recipe-description-content, .recipe-ingredient > * {
        font-size: 11px;
    }
  }
  @media screen and (min-width:361px) and (max-width:400px ) {
    .recipe-description-content, .recipe-ingredient > * {
        font-size: 11px;
    } 
  }
  @media screen and (min-width:401px) and (max-width:500px ) {
    .search-img {
        display: none;
    }
    .recipe-description-content, .recipe-ingredient > * {
        font-size: 11px;
    }
  }
  @media screen and (min-width:0px) and (max-width:768px) {
    header {
        background-size: 100% 100%;
        height: 400px;
        object-fit: contain;
    }
    #cta {
        top:0;
        width: 100%;
    }
    #cta p {
        width: 100%;
        font-size: 20px;
        line-height: 2rem;
    }
    #search-bar {
        top:0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem;
    
    }
    #search-bar input {
        width: 100%;
        margin: 0;
        height: 3rem;
        font-size: 1rem;
    }

    .search-img-icon {
        width: 25px;
        height: 25px;
    }
    main {
        padding: 0.5rem;
    }
    .section {
        width: 100%;
        flex-direction: column;
    }
    .recipe-total {
        margin: 1rem auto; 
    }
    .dropdown-btn {
        flex-direction: column;
        justify-content: center;
    }
    .dropbtn {
        width: 100%;
        padding: 0.5rem;
    }

    #list-recipes {
        width: 100%;
    }

    .card-recipe {
        width: 100%;
    }
    .recipe-img {
        width: 100%;
    }
   
    .recipe-ingr {
        width: 100%;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    #cta {
        width: 100%;
    }
    #cta p {
        font-size: 30px;
    }

    #search-bar {
        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
    
    }
    #search-bar input {
        
        width: 80%;
        margin: 0;
        height: 4rem;
        font-size: 1rem;
    }
    .search-img {
        display: none;
    }
    .search-img-icon {
        width: 40px;
        height: 40px;
    }
    .dropbtn {
        width: 160px;
    }
   
  }